.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-wrap: wrap-reverse;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.box.text .box-title {
    font-size: 14px;
    color: indigo;
}

.box.text .box-text {
    font-size: 11px;
    padding: 5px;
}

.box.line {
    flex-direction: row;
    height: auto;
    width: auto;
}

.box.line .slider-box {
    padding: 10px 50px;
    margin: 10px;
    border: 1px solid gray;
}

.box.line span {
    font-size: 10px;
}

.box.big {
    width: 500px;
    height: auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 200px;
    padding: 15px;
}

.box.big input,
.box.big select {
    width: 400px;
    height: 25px;
    font-size: 16px;
    outline: none;
    margin: 10px 0;
}

.box.big textarea {
    width: 400px;
    height: 70px;
    font-size: 16px;
    outline: none;
    margin: 10px 0;
}

.myButton {
    background-color: green;
    border-radius: 10px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    /* font-family: Arial; */
    font-size: 17px;
    padding: 8px 31px;
    margin: 5px 0;
    text-decoration: none;
    outline: none;
}

.myButton:hover {
    /* background-color: greenyellow; */
}

.myButton:active {
    position: relative;
    top: 1px;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul {
    border-top: 1px dotted greenyellow;
}

li {
    display: flex;
    width: 500px;
    justify-content: flex-start;
    border-bottom: 1px dotted greenyellow;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

li .user-id {
    display: inline-block;
    width: 40px;
    margin-right: 15px;
}

li .post-title {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

li .post-id {
    font-size: 14px;
    width: 40px;
    margin-right: 15px;
}

.color-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button-holder {
    display: flex;
    flex-direction: column;
    margin-right: 44px;
}